// Place all the styles related to the a_tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pass-content {
  width: 200px;
  border-bottom: 1px solid #ccc;
  padding-top: 0px;
  
}

.pass{
  
  font-size: 15px;
}