// Place all the styles related to the c_tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.mytable {
  width: 100%;
  border-collapse:separate;
  border-spacing: 0;
}

.mytable th:first-child{
  border-radius: 5px 0 0 0;
}

.mytable th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

.mytable th{
  text-align: center;
  color:#696969;
  background: whitesmoke;
  border-left: 1px solid #696969;
  border-top: 1px solid #696969;
  border-bottom: 1px solid #696969;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  
  table-layout: fixed;
  width: 15%;
  padding: 10px 0;
}

.mytable  td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  
  padding: 10px 0;
}

.mytable  td:last-child{
  border-right: 1px solid #a8b7c5;
}

.mytable tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

.mytable  tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

